.rtl {
    float: right !important;
}

.ltr {
    float: left !important;
}

.block {
    background-color: black;
    height: 50px;
    border: 2px #b74d4d;
    border-radius: 25px;
    color: white;
}

.colOne{
    background-color: red;
    color: #ffffff;
    font-size: 25px;
}

.myImg{
    width: 100%;
}